.footer-top{
    background-color: #148d5d;                
    height: 180px;
    width: auto;
    padding: 50px;
    margin: 0;
}
.footer-logo{
    float:left;
    border-radius: 50%;
    margin: 25px 25px;
    padding 5px;
    width: 100px;    
    height: 100px;
    font-size: 50px;
    font-family: georgia;
    color:#fff;
}
.footer-list{
    float:right;                  
}
.footer-list li{
    list-style: none;                                                               
}
.link{
    color: #fff;
    text-decoration: none;
}
.link:hover{
    color: #000;        
    text-decoration: underline;
}
.footer-btm{                
    background-color: #0e593b;                
    height: 40px; 
    width: auto;   
    padding: 20px;                                
}
.footer-btm p{
    color: #fff;    
    text-align: center;
    font-family: Candara;
}