@media (max-width: 1000px) {
    .header-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }
    
    .barang {
        width: 40%;
        margin-top: 20px;
    }

    .btn-form {
        margin-bottom: 20px;
    }

    .footer-top {
        justify-content: center;
    }

    .footer-list {
        display: none;
    }
}

@media (max-width: 670px) {
    .barang {
        width: 100%;
        margin-top: 20px;
    }
}